# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1
      - image: circleci/mysql:5.7
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: venv
          command: |
            python3 -m venv venv
            . venv/bin/activate

      - run:
          name: install gcc dependencies
          command: |
            sudo apt install gcc
            sudo apt install protobuf-compiler
            sudo pip install -r requirements.txt

      - run:
          name: install module
          command: |
            sudo python3 setup.py install

      - run:
          name: run tests
          command: |
            coverage run setup.py test
            export CODECOV_TOKEN="ddcde6d5-a3d4-44a7-825c-5ced149f31d7"
            codecov


      - store_artifacts:
          path: test-reports
          destination: test-reports
